## VISUAL STUDIO ##
# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
/extension/*/packages/*
# except build/, which is used as an MSBuild target.
!/extension/*/packages/build/
# Build files can rebuilt in VS, so no need to track them
/extension/**/bin/*
/extension/**/obj/*
/extension/*/.vs/*

## WEB FILES ##
/web/data/*
!/web/data/*.php
!/web/data/README
/web/images/maps/*
!/web/images/maps/README
/web/info.php

## ADDON ##
@ocap/addons/*.pbo