.vscode

### GAMESERVER ###
## Extension ##
# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
gameserver/extension/*/packages/*
# except build/, which is used as an MSBuild target.
!gameserver/extension/*/packages/build/
# Build files can rebuilt in VS, so no need to track them
gameserver/extension/**/bin/*
gameserver/extension/**/obj/*
gameserver/extension/*/.vs/*

## Addon ##
gameserver/@ocap/addons/*.pbo


### WEBSERVER ###
webserver/__pycache__
webserver/debug.txt
webserver/node_modules/*
webserver/static/captures/*
!webserver/static/captures/README.md
webserver/static/images/maps/*
!webserver/static/images/maps/maps.json.base
!webserver/images/maps/README.md
webserver/*.db
webserver/*.db-journal
webserver/static/scripts/ocap.js*