html, body, #map {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family: Roboto, Arial, sans-serif;
	color: #F2F2F2;
	overflow: hidden;
	font-size: 13px;
	cursor: default;
}

#map {
	z-index: 0;
	position: absolute;
	left: 0;
	top: 0;
}

#uk3cbLogoWatermark {
	background-image: url("../images/3cb-logo.png");
	background-size: 25px 25px;
	width: 25px;
	height: 25px;
	position: absolute;
	bottom: 45px;
	right: 5px;
	z-index: 999;
	opacity: 0.8;
}

#ocapLogoButton {
	background-image: url("../images/ocap-logo.png");
	background-size: 70px 25px;
	background-repeat: no-repeat;
	width: 70px;
	height: 25px;
	display: inline-block;
	margin: 8px;
}

#loadOpButton {
	background-image: url("../images/folder.png");
	background-size: 25px 25px;
	background-repeat: no-repeat;
}

#aboutButton {
	font-size: 30px;
	position: relative;
	top: -10px;
	text-align: center;
	display: inline-block;
}

#missionName {
	float: right;
	display: inline-block;
	padding-right: 15px;
	font-size: 24px;
	color: #A4A4A4;
}

#topPanel {
	background-color: #343434;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 1;
}

#toggleFirelines {
	background-image: url("../images/bullets.svg");
	background-size: 25px 25px;
	background-repeat: no-repeat;
}

.button:hover {
	cursor: pointer;
}

#topPanel .button {
	height: 25px;
	width: 25px;
	margin: 8px;
	display: inline-block;
}

#leftPanel, #rightPanel {
	background-color: rgba(0,0,0,0.75);
	position: absolute;
	top: 40px;
}

#leftPanel {
	left: 0;
	width: 200px;
	height: calc(100% - 40px - 40px);
}

#rightPanel {
	right: 0;
	width: 300px;
	height: 50%;
}

#leftPanel .title, #rightPanel .title {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: 16px;
	padding-top: 10px;
}

.filterBox {
	background-color: rgba(0,0,0,0.25);
	width: 100%;
	height: 25px;
	padding-top: 4px;
}

.filterHit {
	float: left;
	display: inline-block;
	height: 18px;
	width: 18px;
	background-image: url("../images/crosshairs.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
	margin-left: 5px;
	margin-right: 5px;
}

#filterEventsInput {
	float: left;
	display: inline-block;
	padding-left: 2px;
	padding-right: 2px;
	height: 18px;
	border: 0;
	margin-left: 5px;
	margin-right: 5px;
	width: 250px;
	background: none;
	color: #F2F2F2;
	font-family: Roboto;
}
#filterEventsInput::-webkit-input-placeholder  {
	color: #666666;
}

#filterEventsInput:focus {
	outline: none;
}

#leftPanel .panelContent, #rightPanel .panelContent {
	overflow-y: auto;
	overflow-x: auto;
	height: calc(100% - 60px - 29px);
	padding: 10px;
}

#leftPanel ul, #rightPanel ul {
	padding: 0;
	list-style-type: none;
}

#leftPanel li, #rightPanel li {

}

.extraInfoBox {
	background-color: rgba(0,0,0,0.75);
	position: absolute;
	right: 0;
	bottom: 40px;
	color: #F2F2F2;
	width: 300px;
	display: none;
}

.extraInfoBoxContent {
	padding: 5px;
}

#bottomPanel {
	/*background-color: #343434;*/
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
}

#bottomPanel .panelContent {
	padding: 5px;
	height: 100%;
}

#playPauseButton {
	position: relative;
	background-image: url("../images/play-pause.png");
	background-position: 0 0;
	height: 15px;
	width: 15px;
	background-size: auto 15px;
	display: inline-block;
	top: 2px;
	margin-left: 10px;
}

#timecodeContainer, #frameSliderContainer, #versionInfoContainer, #playbackSpeedSliderContainer, #playbackSpeedSliderContainer, .fullscreenButton  {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
}

#timecodeContainer {
	font-size: 16px;
	width: auto;
}

#frameSliderContainer {
	width: 80%;
}

#frameSlider {
	width: 100%;
}

#eventTimeline {
	pointer-events: none;
	height: 10px;
	width: 100%;
	position: relative;
	bottom: 13px;
}

.eventTimelineTick {
	pointer-events: none;
	position: absolute;
	left: 0;
	display: inline-block;
	background-color: red;
	opacity: 0.4;
	height: 100%;
}

#frameSlider::-webkit-slider-thumb {
	position: relative;
	z-index: 1;
}

#playbackSpeedSliderContainer {
	width: 20px;
	height: 120px;
	position: relative;
	bottom: 100px;
}

#playbackSpeedVal {
	font-size: 16px;
	position: relative;
	top: 100px;
	left: -5px;
	padding: 5px;
}

#playbackSpeedSlider {
	display: none;
	position: relative;
	top: 20px;
	left: 32px;
	float: right;
	width: 80px;
	transform: rotate(270deg);
}

#playbackSpeedSlider::-webkit-slider-thumb {
	background-color: #404040;
}

/*#playbackSpeedSlider::-webkit-slider-thumb {
	background: #F2F2F2;
	height: 5px;
	width: 20px;
	margin-left: -5px;
}

#playbackSpeedSlider::-webkit-slider-runnable-track {
	width: 10px;
}*/

#versionInfoContainer {
	float: right;
	text-align: right;
	font-size: 11px;
	color: #A4A4A4;
	width: auto;
}

input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #F2F2F2;
	height: 20px;
	width: 5px;
	margin-top: -5px;
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	height: 10px;
	background-color: #808080;
}

.bold {
	font-weight: bold;
}

.medium {
	font-weight: 500;
}

.liEvent {
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	opacity: 0;
}

.liEvent.reveal {
	opacity: 1;
	transition: opacity 1s;
}

.eventDetails {
	color: #9A9A9A;
}

.liGroup {
	padding-top: 10px;
}

.liUnit {
	padding-left: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.liUnit:hover {
	background-color: rgb(205,134,20);
	background-color: rgba(205,134,20,0.9);
}

.sideTitle {
	text-shadow: 1px 1px #000000;
	font-weight: bold;
}

.blufor {
	color: #00a8ff;
}

.opfor {
	color: #ff0000;
}

.ind {
	color: #00cc00;
}

.civ {
	color: #C900FF;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.modalContent {
	background: none;
	margin: auto;
	margin-top: 10%;
/*	border: 1px solid black;*/
	width: 40%;
}
.modalHeader {
	box-sizing: border-box;
	font-size: 16px;
	background-color: rgb(205,134,20);
	background-color: rgba(205,134,20,0.9);
	width: 100%;
	margin-bottom: 3px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 500;
}
.modalBody {
	box-sizing: border-box;
	background-color: rgba(0,0,0);
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	min-height: 200px;
	max-height: 400px;
	height: auto;
	padding: 10px;
	overflow-y: auto;
	overflow-x: auto;
}

.modalBody a {
	color: white;
	text-decoration: none;
}

.modalBody a:hover {
	text-decoration: underline;
}

.modalBody table {
	border-collapse: collapse;
	border: none;
	width: 100%;
}
.modalBody th {
	background-color: rgba(0,0,0);
	background-color: rgba(0,0,0,0.7);
	padding: 3px;
	font-weight: 500;
}
.modalBody td {
	padding-right: 20px;
	padding: 3px;
}
.modalBody tr {
	text-align: left;
}
.modalBody tr:hover {
	background-color: rgb(205,134,20);
	background-color: rgba(205,134,20,0.9);
}
.modalButtons {
	box-sizing: border-box;
	width: 100%;
	text-align: right;
	background: none;
	margin-top: 3px;
	height: 15px;
}
.modalButton {
	display: inline-block;
	background-color: none;
	height: 100%;
	min-width: 100px;
	background-color: rgba(0,0,0);
	background-color: rgba(0,0,0,0.7);
	margin-right: 10px;
	padding: 5px;
	text-transform: uppercase;
	text-align: left;
}

.modalButton:last-child {
	margin-right: 0;
}

.modalButton:hover {
	background-color: #FFF;
	color: #000;
}
.fullscreenButton {
	background-image: url("../images/fullscreen.png");
	opacity: 0.95;
	background-size: 15px 15px;
	width: 15px;
	height: 15px;
	position: relative;
	top: 2px;
	image-rendering: pixelated;
}

.hint {
	display: none;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 100px;
	height: 30px;
	width: 350px;
	text-align: center;
	padding-top: 12px;
}

.cursorTooltip {
	position: absolute;
	color: #333333;
	font-family: Roboto, sans-serif;
	font-size: 12px;
	margin-top: 30px;
	z-index: 99999999;
	width: 200px;
	opacity: 1;
}

.cursorTooltip.hidden {
	opacity: 0;
	transition: opacity .5s;
}

.leaflet-popup-vehicle .leaflet-popup-content-wrapper {
	text-align: left;
}

.leaflet-popup-unit .leaflet-popup-content-wrapper {
	text-align: center;
}

/* */
/* Override leaflet styles */
/* */

.leaflet-right {
	right: 18%;
	bottom: 4%;
}

.leaflet-tile {
	/*border: solid black 1px;*/
}

.leaflet-tile-container {
	image-rendering: pixelated; /* 'pixelated' preserves sharpness of tiles */
}

.leaflet-marker-icon {
	/*transition: transform .1s linear;*/
}

.leaflet-popup {
	pointer-events: none;
}

.leaflet-popup-content-wrapper {
	background: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
	margin-top: 10px;
}

.leaflet-popup-tip {
	display: none;
}

.leaflet-popup-content {
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 12px;
}

.leaflet-div-icon {
	background: none;
	border: none;
	margin: none;
	padding: none;
}