*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track,
* ::-webkit-scrollbar-corner {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #6E6E6E;
}
html,
body,
#map {
  color: #F2F2F2;
  cursor: default;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
#map {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}
#hint {
  -ms-flex-align: center;
      align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 100px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  left: 0;
  line-height: 1.5;
  margin: auto;
  padding: 15px;
  position: absolute;
  right: 0;
  width: 350px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
#hint.show {
  opacity: 1;
  pointer-events: auto;
}
.blufor {
  color: #00a8ff;
}
.opfor {
  color: #ff0000;
}
.ind {
  color: #00cc00;
}
.civ {
  color: #c900ff;
}
.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}
.leaflet-popup-vehicle .leaflet-popup-content-wrapper {
  text-align: left;
}
.leaflet-popup-unit .leaflet-popup-content-wrapper {
  text-align: center;
}
/* */
/* Override leaflet styles */
/* */
.leaflet-right {
  right: 18%;
  bottom: 4%;
}
.leaflet-tile-container {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
.leaflet-popup {
  pointer-events: none;
}
.leaflet-popup-content-wrapper {
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.leaflet-popup-tip {
  display: none;
}
.leaflet-popup-content {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
}
.leaflet-div-icon {
  background: none;
  border: none;
  margin: none;
  padding: none;
}
#top-panel {
  -ms-flex-align: center;
      align-items: center;
  background-color: #343434;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#top-panel .button {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  margin: 8px;
  width: 25px;
}
#top-panel #ocap-logo-button {
  background-image: url("../images/ocap-logo.png");
  background-repeat: no-repeat;
  background-size: 70px 25px;
  margin: 8px;
  width: 70px;
}
#top-panel #load-op-button {
  background-image: url("../images/folder.png");
  background-repeat: no-repeat;
  background-size: 25px 25px;
}
#top-panel #about-button {
  font-size: 30px;
  height: initial;
  text-align: center;
}
#top-panel #toggle-firelines-button {
  background-image: url("../images/bullets.svg");
  background-repeat: no-repeat;
  background-size: 25px 25px;
}
#top-panel #mission-name {
  color: #A4A4A4;
  font-size: 24px;
  padding-right: 15px;
  position: absolute;
  right: 0;
}
#left-panel,
#right-panel {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 40px;
}
#left-panel .title,
#right-panel .title {
  -ms-flex-align: center;
      align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  height: 30px;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 5px 0;
  width: 100%;
}
#left-panel .filter-box,
#right-panel .filter-box {
  background-color: rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 35px;
  padding: 4px 5px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
#left-panel .filter-box input[type="text"],
#right-panel .filter-box input[type="text"] {
  background: none;
  border: 0;
  color: #F2F2F2;
  display: inline-block;
  height: 18px;
  padding: 0 10px;
}
#left-panel .filter-box input[type="text"]:focus,
#right-panel .filter-box input[type="text"]:focus {
  outline: none;
}
#left-panel .filter-box #filter-hit-events-button,
#right-panel .filter-box #filter-hit-events-button {
  background-image: url("../images/crosshairs.png");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  margin: 0 5px;
  width: 18px;
}
#left-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: calc(100% - (40px * 2));
  left: 0;
  width: 200px;
}
#left-panel .entity-list {
  -ms-flex: 1;
      flex: 1;
  overflow-y: scroll;
  padding: 0 10px;
}
#left-panel .entity-list .side-title {
  text-shadow: 1px 1px #000000;
  font-weight: bold;
  opacity: .8;
}
#left-panel .entity-list ul {
  list-style-type: none;
  padding: 0;
}
#left-panel .entity-list ul .group {
  padding-top: 10px;
}
#left-panel .entity-list ul .group .group-title {
  color: rgba(255, 255, 255, 0.6);
}
#left-panel .entity-list ul .unit {
  padding: 5px 16px;
}
#left-panel .entity-list ul .unit:hover {
  background-color: rgba(205, 134, 20, 0.9);
}
#right-panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 50%;
  right: 0;
  width: 300px;
}
#right-panel #event-list-container {
  height: 100%;
  overflow-y: scroll;
}
#right-panel #event-list-container ul {
  list-style-type: none;
  padding: 0 20px;
}
#right-panel #event-list-container .event {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  opacity: 0;
  padding-bottom: 10px;
}
#right-panel #event-list-container .event.reveal {
  opacity: 1;
  transition: opacity 0.3s;
}
#right-panel #event-list-container .event .event-details {
  color: #9a9a9a;
}
#bottom-panel {
  -ms-flex-align: center;
      align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  height: 40px;
  left: 0;
  padding: 5px 15px;
  position: absolute;
  width: 100%;
}
#bottom-panel div {
  margin-right: 15px;
}
#bottom-panel .left,
#bottom-panel .middle,
#bottom-panel .right {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
}
#bottom-panel .left div,
#bottom-panel .middle div,
#bottom-panel .right div {
  display: inline-block;
}
#bottom-panel .left {
  width: 200px;
}
#bottom-panel .middle {
  width: calc(100% - (200px + 100px));
}
#bottom-panel .right {
  width: 100px;
}
#bottom-panel #play-pause-button {
  background-image: url("../images/play-pause.png");
  background-position: 15px 0;
  background-size: auto 15px;
  height: 15px;
  position: relative;
  width: 15px;
}
#bottom-panel #play-pause-button.paused {
  background-position: 0 0;
}
#bottom-panel #fullscreen-button {
  background-image: url("../images/fullscreen.png");
  opacity: 0.95;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
#bottom-panel #frame-slider-container {
  position: relative;
  -webkit-appearance: none;
  background-color: #808080;
  height: 10px;
}
#bottom-panel #frame-slider-container #event-timeline {
  height: 10px;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
#bottom-panel #frame-slider-container #event-timeline .tick {
  background-color: red;
  display: inline-block;
  height: 100%;
  left: 0;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
}
#bottom-panel #frame-slider-container input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  z-index: 2;
}
#bottom-panel #frame-slider-container input[type="range"]:focus {
  outline: none;
}
#bottom-panel #frame-slider-container input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-color: #808080;
  height: 10px;
  background: transparent;
}
#bottom-panel #frame-slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #F2F2F2;
  height: 20px;
  margin-top: -5px;
  width: 5px;
}
#bottom-panel #playback-speed-slider-container {
  position: relative;
}
#bottom-panel #playback-speed-slider-container #playback-speed-val {
  height: 50px;
}
#bottom-panel #playback-speed-slider-container input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  display: none;
  left: 5px;
  bottom: 20px;
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(270deg);
  width: 80px;
}
#bottom-panel #playback-speed-slider-container input[type="range"]:focus {
  outline: none;
}
#bottom-panel #playback-speed-slider-container input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-color: #808080;
  height: 10px;
}
#bottom-panel #playback-speed-slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #F2F2F2;
  height: 20px;
  margin-top: -5px;
  width: 5px;
  background: #404040;
}
#modal-container {
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s, opacity 0.3s;
}
#modal-container.show {
  opacity: 1;
  pointer-events: auto;
}
#modal-container #modal {
  background: none;
  margin: 10% auto auto;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: transform 0.3s, opacity 0.3s;
  width: 40%;
}
#modal-container #modal.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#modal-container #modal-header {
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgba(205, 134, 20, 0.9);
  width: 100%;
  margin-bottom: 3px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
}
#modal-container #modal-body {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  height: auto;
  padding: 10px;
  overflow-y: auto;
  overflow-x: auto;
}
#modal-container #modal-body a {
  color: #fff;
  text-decoration: underline;
}
#modal-container #modal-body a:hover {
  text-decoration: none;
}
#modal-container #modal-body table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}
#modal-container #modal-body table th {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 6px 3px;
  font-weight: 500;
}
#modal-container #modal-body table td {
  padding: 3px;
  padding-right: 20px;
}
#modal-container #modal-body table tr {
  text-align: left;
}
#modal-container #modal-body table tr:not(:first-child):hover {
  background-color: rgba(205, 134, 20, 0.9);
}
#modal-container #modal-body table .in-progress {
  color: #9a9a9a;
  font-style: italic;
}
#modal-container #modal-buttons {
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  background: none;
  margin-top: 3px;
  height: 15px;
}
#modal-container #modal-buttons .modal-button {
  display: inline-block;
  background-color: none;
  height: 100%;
  min-width: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-right: 10px;
  padding: 5px;
  text-transform: uppercase;
  text-align: left;
}
#modal-container #modal-buttons .modal-button:last-child {
  margin-right: 0;
}
#modal-container #modal-buttons .modal-button:hover {
  background-color: #fff;
  color: #000;
}
